
#container{
  max-width: 667px;
  text-align: center;
}
.containt{
  position: absolute;
  top: 25%;
  font-size: 30px;
  margin: 10px;
}

button{
    position: absolute;
    top: 90%;
    right: 40%;
    border-radius: 50px;
}