*{
    box-sizing: border-box;
    font-family: Roboto;
}

.contacts{
    text-align: center;
}

.bottom{
    text-align: center;
    margin-top: auto;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
}
.social-media img{
    width: 60%;
}

.copyright{
    font-size: 15px;    
}
